/* Base styles */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #f5f7ed;
  padding: 0 20px;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navLogo img {
  width: 60px;
}

.navLogo p {
  color: rgb(34, 34, 34);
  font-size: 28px;
  font-weight: 800;
}

.Nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  color: rgb(63, 63, 63);
  font-size: 14px;
  font-weight: 500;
}

.Nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.Nav-menu li hr {
  width: 80%;
  height: 4px;
  border: none;
  background-color: #5c4e4e;
  border-radius: 20px;
}

.nav-login-Icon {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-login-Icon button {
  width: 118px;
  height: 38px;
  outline: none;
  border: 1px rgb(40, 221, 85);
  border-radius: 75px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  background-color: #988686;
}

.nav-login-Icon button:hover {
  background-color: #5c4e4e;
}

.nav-login-Icon button:active {
  background-color: rgb(31, 163, 88);
}

.nav-login-Icon img {
  width: 35px;
}

.nav-cart-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-top: -35px;
  margin-left: -50px;
  border-radius: 14px;
  background-color: #988686;
  font-size: 14px;
  color: white;
}

.menu-icon {
  display: none;
  align-items: center;
  cursor: pointer;
}

.menu-icon img {
  width: 30px;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .navLogo img {
    width: 50px;
  }

  .navLogo p {
    font-size: 24px;
  }

  .nav-login-Icon button {
    width: 100px;
    height: 34px;
    font-size: 14px;
  }

  .nav-login-Icon img {
    width: 30px;
  }

  .nav-cart-count {
    width: 18px;
    height: 18px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .Nav-menu,
  .nav-login-Icon {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .navLogo img {
    width: 40px;
  }

  .navLogo p {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .navLogo img {
    width: 30px;
  }

  .navLogo p {
    font-size: 16px;
  }
}