.related-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 80vh; 
  padding-bottom: 50px; 
}

.related-products h1 {
  color: #515151;
  font-size: 50px;
  font-weight: 600;
}

.related-products hr {
  width: 200px;
  height: 3px;
  border-radius: 10px;
  background: #252525;
}

.related-products-item {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  justify-content: center; 
}

/* Responsive styles */
@media (max-width: 1024px) {
  .related-products h1 {
    font-size: 40px;
  }

  .related-products hr {
    width: 150px;
    height: 2px;
  }

  .related-products-item {
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .related-products h1 {
    font-size: 30px;
  }

  .related-products hr {
    width: 100px;
    height: 2px;
  }

  .related-products-item {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .related-products h1 {
    font-size: 24px;
  }

  .related-products hr {
    width: 80px;
    height: 2px;
  }

  .related-products-item {
    gap: 5px;
  }
}